<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 padding-0" style="background: black;">
    <div class="row format-row p-all-20 " >
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 box-flex">
            <p class="footer-format-txt-title">GIỚI THIỆU</p>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>VỀ CHÚNG TÔI</a>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>THỎA THUẬN SỬ DỤNG</a>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>QUY CHẾ HOẠT ĐỘNG</a>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>CHÍNH SÁCH BẢO MẬT</a>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 box-flex">
            <p class="footer-format-txt-title">GÓC ĐIỆN ẢNH</p>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>THỂ LOẠI PHIM</a>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>BÌNH LUẬN PHIM</a>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>BLOG ĐIỆN ẢNH</a>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>PHIM HAY THÁNG</a>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 box-flex">
            <p class="footer-format-txt-title">HỖ TRỢ</p>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>GÓP Ý</a>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>SALE & SERVICE</a>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>RẠP / GIÁ VÉ</a>
            <a href="" class="footer-format-txt-subtitle m-b-10"><i class="fa fa-angle-double-right"></i>TUYỂN DỤNG</a>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 box-flex">
            <p class="footer-format-txt-title">KẾT NỐI CGV CINEMA</p>
            <div class="box-flex-horizontal m-b-20">
                <a href="https://www.facebook.com/cgvcinemavietnam"><i class="fa-brands fa-square-facebook fill-color"></i></a>
                <a href="https://www.youtube.com/@CGVVietnam" class="m-l-10"><i class="fa-brands fa-square-youtube fill-color"></i></a>
                <a href="#" class="m-l-10"><i class="fa-brands fa-instagram fill-color"></i></a>
            </div>
            <p class="footer-format-txt-title">DOWNLOAD APP</p>
            <div class="box-flex-horizontal">
                <a href="https://play.google.com/store/apps/details?id=com.cgv.cinema.vn&hl=vi&gl=US"><i class="fa-brands fa-google-play fill-color"></i></i></a>
                <a href="https://apps.apple.com/us/app/cgv-cinemas/id1067166194" class="m-l-10"><i class="fa-brands fa-apple fill-color"></i></a>
            </div>
        </div>
    </div>
</div>